.footer{
    background: #000000;
}
.footer_content{
    padding-top: 114px;
    padding-bottom: 140px;
    display: flex;
    color: #8E8E8E;
}
.footer_socials{
    width: 50%;
}
.social_title{
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-weight: 900;
}
.social_text{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 32px;
}
.social_icon{
    display: flex;
    gap: 14px;
}
.footer_links{
    width: 50%;
    display: flex;
    justify-content: space-between;
    
}
.footer_collumn-links{

}
.footer_collumn-links h2{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-bottom: 22px;
}
.footer_collumn-links a{
    display: block;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #787878;
    font-weight: 400;
    margin-bottom: 20px;
}