.arrivals{
    padding-top: 120px;
    padding-bottom: 143px;
}
.arrivals_header{
    margin-bottom: 100px;
    
}
.arrivals_cards{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.title_2{
    display: inline-block;
    position: relative;
    font-weight: 900;
    font-size: 48px;
    line-height: 104%;
    letter-spacing: 0.06em;
    text-transform: uppercase;}
.title_2::after{
    z-index: -1;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 190px;
    height: 32px;
    background-image: url(./../../img/icons/decor-yellow.svg);
    background-repeat: no-repeat;
}